<!DOCTYPE html>
<html>
	<head>
			{% include 'css.html' %}
			<title>CEG SPARTANZ|{{title}}</title>
			
	</head>
	<body>
		<div class="row">
				{% include 'navbar.html' %}
				<div class="row">
					<br>
					<div class="large-12 columns large-offset-3">
						Welcome to the official site of CEG SPARTANZ
					</div>
				</div>
					<ul class="example-orbit" data-orbit>
  <li>
    <img src="../assets/img/examples/satelite-orbit.jpg" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li class="active">
    <img src="http://foundation.zurb.com/docs/assets/img/examples/launch-orbit.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="../assets/img/examples/launch-orbit.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
  </div>
				</div>
				<br>
				
		</div>
		{% include 'scripts.html' %}
		<script src="assets/js/foundation.orbit.js">

			</script>
	</body>
</html>