<nav class="top-bar" data-topbar> 
				<ul class="title-area"> 
					<li class="name"> <h1><a href="#">CEG SPARTANZ</a></h1> </li> 
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> </ul>
				 <section class="top-bar-section"> 
				  <ul class="right"> 
				  	<li class="active"><a href="#">Login</a></li> 
				  	<li> <a href="#">FAQ</a></li> 
				  </ul> 
				  <ul class="left"> 
				  	<li><a href="#">Blog</a></li> 
				  	
				  	<li><a href="#">Contact</a></li> 
				  </ul> 
				</section> 
			</nav>